*{
    box-sizing: border-box;
  margin: 0px;
}
 
body,html{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}
body{
    background-color: black;
}
header{
    background-color: white;
    padding: auto;
}
.wrapper{
    width: 940px;
    margin: 0 auto;

}
.logo,.link{
    width: 467px;
    display: inline-block;
}

.link{
   
    text-align: right;
}
a{
    text-decoration: none;
}
#logo{
    width: 37px;
    height: 37px;
    margin: 18px 0px 23px;
}
#fb{
    width: 25px;
    height: 25px;
    margin: 25px 21px 28px 0px;

}
#tw{
    width: 25px;
    height: 20.31px;
    margin: 27.78px 0px 29.91px;
}


.title{
    background-color: #FAC960;
    text-align: center;
    height:421px;
}

#email{
    Width: 560px;
    Height:54px;
    border: 0px;
    background-color: #FFFFFF;
    color: #999999;
    font-size: 30px;
    padding:0px 0px 0px 36px;
}
#submit{
    Width: 240px;
    Height:54px;
    background-color: #A8863D;
    border: 0px;
    font-size: 30px;
    color:#FFFFFF;
    padding:0px 44px 0px 30px;
}
.title>h3:first-child, .title>h3:nth-child(2){
   color: #8A6D2F;
   font-weight: 400;
   margin: 0px;
}
.title>h3:first-child{
    font-size: 44px;
    padding-top: 102px;
}
.title>h3:nth-child(2){
    font-size: 43px;
    padding-bottom: 40px;
}


.space{
    text-align: center;
    Height:438px;
    background-color: #F2F2F2;
}
.space>h3{
    color: rgba(0, 0, 0, 0.56);
    font-weight: 400;
    font-size: 36px;
    margin: 0px;
    padding-top: 77px;
    padding-bottom: 32px;
}
.space>p{
    color: rgba(0, 0, 0, 0.4);
    Width:819px;
    font-size: 23px;
    margin-left:  auto;
    margin-right:  auto;
    padding-bottom: 56px;
}

.mobile{
    background-color: white;
    Height:610px;
    text-align: center;
}

.mobile>h3{
    color: rgba(0, 0, 0, 0.56);
    font-weight: 400;
    font-size: 36px;
    margin: 0px;
    padding-top: 76px;
    padding-bottom: 32px;
}
.mobile>p{
    color: rgba(0, 0, 0, 0.4);
    Width:819px;
    font-size: 23px;
    margin-left:  auto;
    margin-right:  auto;
    padding-bottom: 32px;
}

.friends{
    background-color: #FAC960;
    Height:313px;
    text-align: center;
}
.friends>h3{
    color: #8A6D2F;
    font-size: 37px;
    font-weight: 400;
    padding-top: 54px;
    padding-bottom: 31px;
}

.friends>p{
    Width:506px;
    margin-left:  auto;
    margin-right:  auto;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.4);
    padding-bottom: 33px;
}
#button{
    Width:61px;
    Height:22px;
    background: #FFFFFF;
    border: 1px solid #758696;
    border-radius: 3px;
    color: #999999;
}

footer{
    background-color: #F2F2F2;
    Height:240px;
    text-align: center;
}
#logo_2{
    width: 37px;
    height: 37px;
    margin: 81px auto 24px;
}
#tw_2{
    width: 18px;
    height: 14.63px;
}
#fb_2{
    width: 17px;
    height: 17px;
    margin-left: 22px;
    margin-right: 22px;
   
}
#em{
    width: 16.88px;
    height: 14.77px;
}
